# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

DemoCpp/Build
*.dia

*.hmap

*.dia

NetConsole/DerivedData/NetConsole/Index/Debug/macosx10.11-x86_64/NetConsole.xcindex/db.xcindexdb

NetConsole/DerivedData/NetConsole/Index/Debug/macosx10.11-x86_64/NetConsole.xcindex/db.xcindexdb-wal

NetConsole/DerivedData/NetConsole/info.plist

NetConsole/DerivedData/NetConsole/info.plist

*.plist
